body {
    background-color: #478559;
}

#contact-me {
    padding: 200px;
    font-size: xx-large;
}

#bio {
    font-size: 20px;
}

#top-button {
    background-color: black;
  padding: 1em 3em;
  border-radius: 100px;
  color: white;
  display: inline-block;
  margin: 10px;
}

#bottom-button {
    background-color: black;
  padding: 1em 2em;
  border-radius: 100px;
  color: white;
  margin: 10px;
}